/* nav bar */
.navbar-toggle .icon-bar {
  border: 1px solid #333;
}
.nav.navbar-nav > li > a {
  color:#002663;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
#mainNavBar > a:link, a:visited {
  text-decoration: none;
}
.container-fluid > #mainNavBar a:hover {
  color: white;
  text-decoration: none;
}
.container-fluid > #mainNavBar a:hover {
  background-color: #cb0226;
  color: white;
}

.nav.navbar-nav > li {
  text-align: center;
  min-width: 20%;
}
.nav.navbar-nav{
  width: 100%;
}
/* adjusting divs in nav box, left and right margin and padding = 0*/
.container-fluid.my-Contain{
  margin-left:0;
  margin-right: 0;
  padding-left:0;
  padding-right: 0;
}
.navbar.nav-inverse, .navbar-header, #mainNavBar, .nav.navbar-nav{
  margin:0;
  padding:0;
}
/* nav bar end*/

/* start off adjusting main content */
/* "Community" main title adjustment */
#communityTitle{
  margin-left: 1%;
  color:#022960;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-bottom: 15px;
}

/* adjust left and right gaps of three colomns  */
.container.community{
  width:98%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

#left-col{
  padding-left: 0;
  padding-right: 10px;
}
#middle-col{
  padding-right: 5px;
  padding-left: 5px;
}
#right-col{
  padding-right: 0;
  padding-left: 10px;
}

#col1-text, #col2-text, #col3-text, .div-button{
  background-color: #f4f5f7;
}


/* end of adjusting gaps of three colomn */

.community_post-title{
  margin:0 20px 10px 20px;
  padding-top: 10px;
  font-size: 20px;
  color: #022960;
  letter-spacing: 1px;
}

.community_post-details{
  line-height: 2;
  margin: 10px 20px 10px 20px;
  opacity: 0.6;
}

/* [read more] button styling */
.col-btn{
  padding:16px 20px 45px 20px;
}
.col-btn_btn{
  border: 1px solid #bcbcbc;
  padding:10px 24px 10px 24px;
}
.button{
  color: #bcbcbc;
  font-size: 14px;
  padding: 0;
  opacity: 0.5;
}

.col-btn_btn:hover{
  border-width: 3px;
  cursor: pointer;
}
.button:hover{
  text-decoration: none;
  color:#bcbcbc;
}
/* end of button */
/* start off adjusting main content */
